@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+CU:wght@100..400&display=swap');
body{
    background-color: #F4F4F5;
     font-family: "Inter", sans-serif;
     overflow-y: auto;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}
.dark {
    --bg-color: #000000;
    --text-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}


.swiper {
  width: 100%;
  height: 100%;
  

}

.swiper-slide {
  text-align: center;
  background: #fff;
border-radius: 48px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  width: 1163px;
}

.swiper-slide img {
  display: block;
  border-radius: 100%;
  width: 246px;
  height: 246px;
  object-fit: cover;
}

@media (max-width: 1536px) {
  .swiper-slide img {
    display: block;
    border-radius: 100%;
    width: 300px; /* Adjust width for screens 1536px and above */
    height: 200px; /* Adjust height for screens 1536px and above */
    object-fit: cover;
  }
}


@media (max-width: 1280px) {
  .swiper-slide img {
    display: block;
    border-radius: 100%;
    width:250px; 
    height: 130px;
    object-fit: cover;
  }

  .swiper-slide {
  text-align: center;
  background: #fff;
border-radius: 48px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25px;
  width: 1163px;
}

}


@media (max-width: 768px) {
  .swiper-slide img {
    display: block;
    border-radius: 100%;
    width:250px; 
    height: 130px;
    object-fit: cover;
  }

  .swiper-slide {
  text-align: center;
  background: #fff;
border-radius: 48px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25px;
  width: 1163px;
}

}

.swiper-slide:nth-child(1n) {
    margin-left: 140px;

  width: 60%;
}


@media (max-width: 768px) {
  .swiper-slide:nth-child(1n) {
    margin-left: 140px;

  width: 100%;
}


}

/* Style for the container */


/* Style for the DeepChat component */
.deep-chat {
    border: none; /* Remove all borders */
      width: 200px;/* Full width of the container */
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .deep-chat {
        width: 180px; /* Reduce the width for smaller screens */
    }
}

